@{
    ViewData["Title"] = "Contato";
}

<div class="container mt-4">
    <h1>Contato</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">Endereço</dt>
                <dd class="col-sm-9">Rua dezoito, 683, União de Minas, MG, Brazil</dd>
                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">(34) 3456-1233</dd>
                <dt class="col-sm-3">WhatsApp</dt>
                <dd class="col-sm-9">+55 34 9887-9171</dd>
                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9"><a href="mailto:stacasauniao@hotmail.com">stacasauniao@hotmail.com</a></dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h5>Redes sociais</h5>
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/santacasauniaodeminas/?locale=pt_BR" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            </ul>
            <p>Página · Organização sem fins lucrativos</p>
        </div>
    </div>
</div>